enable-pre-post-scripts=true
node-linker=hoisted
prefer-frozen-lockfile=false
public-hoist-pattern[]=*bcrypt*
shame-install=false
strict-peer-dependencies=false
auto-install-peers=true
ignore-scripts=false
node-gyp-bin-dir=node_modules/.bin
legacy-peer-deps=true
node-gyp-force-python=python3
package-import-method=clone
node-gyp-binary-path=node-gyp
rebuild-module-test-command=node -e "require('%s')"
